<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EMPREL 2023 </title>
    <style>
        /* Estilos para a tabela */
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h1> Ordenação dos Candidatos da EMPREL com base na nota da Prova  </h1>

        <h3>Este é um projeto de estudo pessoal e não tem valor legal. Não possui ligação 
            com a empresa que organizou o concurso ou qualquer outra entidade oficial. 
            Todos os dados foram disponibilizados de forma pública na internet e os 
            resultados aqui apresentados são para fins educacionais e de estudo.</h3>
    
    
    {% block content %}{% endblock %}
</body>
</html>
